body {
  margin: 0 auto;
  background-color: #FAFAFA;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  display: inherit;
}

header {
  display: inline-flex;
}

.principal-title {
  font-family: 'PT Serif', serif,  ui-system;
  font-weight: 700;
  font-size: 36px;
  color: black;
}

.about {
  display: inline-flex;
  flex-direction: column;
  max-width: 45%;
  margin: 3vh 0 10vh 12vw;
}

.about-title {
  font-family: 'Poppins', sans-serif, ui-system;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.about-details {
  font-family: 'Poppins', sans-serif, ui-system;
  font-weight: 400;
  font-size: 18px;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 100px;
}

.person {
  max-width: 70%;
  position: relative;
}

.person-image {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.person-image img {
  max-width: 100%;
}

.person-name {
  margin: 0;
  font-family: 'Poppins', sans-serif, ui-system;
  font-weight: 600;
  font-size: 18px;
}

.person-job {
  font-family: 'PT Serif', serif,  ui-system;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  transform: rotate(90deg);
  width: 50%;
  left: 80%;
  top: 14%;
}

.type-1 {
  justify-self: baseline;
}

.type-2 {
  top: 100px;
  justify-self: center;
}

.type-3 {
  justify-self: end;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  margin-top: 150px;
}

footer span {
  color:#A9A9A9;
  font-family: 'Montserrat', system-ui;
  font-size: 14px;
}

footer span a {
  text-decoration: none;
  color:#A9A9A9;
  font-weight: 600;
}